// color
$font-color: #222;
$white: #fff;
$main-color: #382620;
$base-color-heavy: #eae0d5;
$base-color-thin: #f3efeb;
$accent-color: #f07317;
$disable-color: #888888;

// breakpoint
$breakpoints: (
  //キー　　値
  //767px以下（スマホ）用の表示
  "sp-small": "screen and (max-width: 320px)",
  "sp-middle": "screen and (max-width: 375px)",
  "sp-large": "screen and (max-width: 767px)",
  //タブレット用の表示
  "tb-small": "screen and (min-width: 768px)",
  "tb-middle": "screen and (min-width: 1024px)",
  //PC用の表示
  "pc-small": "screen and (min-width: 1280px)",
  "pc-middle": "screen and (min-width: 1920px)"
) !default;
