@use "../global" as *;

body {
  font-family: $font-Noto-serif;
  font-size: 16px;
  line-height: 1.5;
  color: $font-color;
  background: $base-color-thin;
  font-weight: 400;
  overflow-x: hidden;
}
