@use "../global" as *;

.c-tag__ribbon {
  display: inline-block;
  position: relative;
  text-align: center;
  box-sizing: border-box;
  line-height: 1.5;
  background: $main-color;
  color: #fff;
  font-size: 12px;
  padding: 2px 10px;

  &::before {
    position: absolute;
    content: "";
    top: 100%;
    left: 0;
    width: 0;
    height: 0;
    border-color: transparent #aaa transparent transparent;
    border-style: solid;
    border-width: 0 8px 4px 0;
  }

  &::after {
    position: absolute;
    top: 0;
    right: -5px;
    z-index: 1;
    width: 5px;
    height: 100%;
    content: "";
    border-color: #382620 transparent #382620 #382620;
    border-style: solid;
    border-width: 11px 5px 11px 0;
  }
}

.c-tag__large {
  position: absolute;
  top: 20px;
  left: -8px;
  display: flex;
  align-items: center;

  .c-tag__ribbon {
    font-size: 16px;
  }
}
