@use "../global" as *;

.l-footer {
  background: $main-color;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    background: url(../img/bg_coffee-beans3.webp) left top / contain no-repeat;
    top: -60px;
    left: -28px;
    z-index: 1;
    width: 128px;
    height: 108px;
  }
}

.l-footer__inner {
  padding: 40px 20px 14px;
  color: $white;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.l-footer__snslist {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.l-footer__snsitem {
  width: 19.5px;
  height: 15.838px;
}

.l-footer__copylight {
  text-align: center;
  font-size: 12px;
  font-weight: 500;
}

.p-footer-pagetop {
  position: fixed;
  right: 46px;
  bottom: 10px;
  display: flex;
  width: 44px;
  height: 44px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $white;
  z-index: 999;
  border-radius: 50%;
}

.p-footer-pagetop__link {
  display: block;
  transition: opacity 0.3s;
}
#pageTop {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}

#pageTop.is-active {
  opacity: 1;
  visibility: visible;
}
