@use "../global" as *;

.p-instagram {
  position: relative;
  padding-block: 60px;
  margin-top: 120px;
  background: $base-color-heavy;
}

.p-instagram__balloon {
  position: absolute;
  top: -60px;
  left: -23px;
  width: 200px;
  height: 104px;
  content: "";
  z-index: 2;
}

.p-instagram__inner {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.p-instagram__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 19px 19px;
}

.p-instagram__button {
  text-align: center;
}
