@use "../global" as *;

.p-lunch__front {
  margin-top: rclamp(120, 327, 375, 1023);

  &::before {
    content: "";
    position: absolute;
    right: rclamp(-28, -76, 375, 1023);
    top: rclamp(-175, -477, 375, 1023);
    background: url(../img/bg_coffee-leaves.webp) left top no-repeat;
    background-size: 100% auto;
    width: rclamp(119, 325, 375, 1023);
    height: 100%;
  }

  &::after {
    position: absolute;
    content: "";
    background-color: $base-color-heavy;
    width: calc(100% - 20px);
    bottom: 0;
    left: 0;
    height: 100px;
    z-index: 1;
  }
}

.p-lunch__front--balloon {
  position: absolute;
  content: "";
  top: rclamp(-45, -123, 375, 1023);
  right: rclamp(-26, -71, 375, 1023);
  width: rclamp(200, 546, 375, 1023);
  height: rclamp(93, 254, 375, 1023);

  img {
    height: auto;
  }
}

.p-lunch__front--inner {
  background-color: $base-color-heavy;
}

.p-lunch__menu--box {
  position: relative;
  margin-top: rclamp(60, 164, 375, 1023);
  background: $white;
  padding-inline: rclamp(20, 55, 375, 1023);
  padding-top: rclamp(40, 109, 375, 1023);
  padding-bottom: rclamp(20, 55, 375, 1023);
  display: flex;
  flex-direction: column;
  gap: rclamp(20, 55, 375, 1023);
  z-index: 2;
}

.p-lunch__menu--ribon {
  position: absolute;
  top: rclamp(-28, -76, 375, 1023);
  left: 50%;
  transform: translateX(-50%);
}

.p-lunch__menu--lineup {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: rclamp(20, 55, 375, 1023);

  @include mq(tb-middle) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.lunch__box {
  display: flex;
  flex-direction: column;
  gap: rclamp(16, 44, 375, 1023);
}

.lunch__box--thumbnail {
  width: 100%;
  height: rclamp(158, 431, 375, 1023);
  aspect-ratio: 1/1;
}

.lunch__box--head {
  display: flex;
  gap: rclamp(6, 16, 375, 1023);
  align-items: center;
}

.lunch__box--num {
  width: rclamp(24, 65, 375, 1023);
  height: rclamp(24, 65, 375, 1023);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $font-color;
  color: $white;
  padding-inline: rclamp(2.5, 7, 375, 1023);
  padding-block: rclamp(5.5, 15, 375, 1023);
}

.lunch__box--title {
  font-size: rclamp(14, 38, 375, 1023);
  font-weight: 700;
}

.lunch__front--description {
  text-align: center;
}
.lunch__front--title {
  font-size: rclamp(16, 44, 375, 1023);
  font-weight: 700;
}

.lunch__front--price {
  font-family: Damion;
  font-size: rclamp(40, 109, 375, 1023);
}

.lunch__front--openDate {
  font-size: rclamp(12, 33, 375, 1023);
  font-weight: 700;
}
