@use "../global" as *;

.p-lunch__front {
  margin-top: rclamp(120, 327, 375, 1023);
  position: relative;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    right: rclamp(-28, -76, 375, 1023);
    top: rclamp(-175, -477, 375, 1023);
    background: url(../img/bg_coffee-leaves.webp) left top no-repeat;
    background-size: 100% auto;
    width: rclamp(119, 325, 375, 1023);
    height: 100%;
  }

  &::after {
    position: absolute;
    content: "";
    background-color: $base-color-heavy;
    width: calc(100% - 20px);
    bottom: 0;
    left: 0;
    height: 100px;
    z-index: 1;
  }
}

.p-lunch__front--balloon {
  position: absolute;
  content: "";
  top: rclamp(-45, -123, 375, 1023);
  right: rclamp(-26, -71, 375, 1023);
  width: rclamp(200, 546, 375, 1023);
  height: rclamp(93, 254, 375, 1023);

  img {
    height: auto;
  }
}

.p-lunch__front--inner {
  background-color: $base-color-heavy;
}

.p-lunch__front--head {
  text-align: center;
}

.p-lunch__menu--block {
  display: inline-block;
  position: relative;
  height: rclamp(37, 101, 375, 1023);
  text-align: center;
  box-sizing: border-box;
  left: 50%;
  transform: translateX(-50%);

  &::before {
    content: "";
    position: absolute;
    width: rclamp(31, 85, 375, 1023);
    bottom: -10px;
    left: -35px;
    z-index: 0;
    border: 20px solid #222;
    border-left-color: transparent; /*山形に切り抜き*/
  }

  &::after {
    content: "";
    position: absolute;
    width: rclamp(31, 85, 375, 1023);
    bottom: -10px;
    right: -35px;
    z-index: 0;
    border: 20px solid #222;
    border-right-color: transparent; /*山形に切り抜き*/
  }
}

.c-heading__riboon--main {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: rclamp(10, 27, 375, 1023);
  font-size: rclamp(14, 38, 375, 1023);
  color: #fff;
  background: $black-color;

  &::before {
    position: absolute;
    content: "";
    top: 100%;
    left: 0;
    border: none;
    border-bottom: solid 10px transparent;
    border-right: solid 15px #222; /*左の折り返し部分*/
  }

  &::after {
    position: absolute;
    content: "";
    top: 100%;
    right: 0;
    border: none;
    border-bottom: solid 10px transparent;
    border-left: solid 15px #222; /*右の折り返し部分*/
  }
}
