@use "../global" as *;

.p-menu-drink__box {
  padding-inline: rclamp(20, 55, 375, 1023);
}

.p-menu-drink__contents {
  display: flex;
  flex-direction: column;
  gap: rclamp(40, 109, 375, 1023);
}
.p-drink__listbox {
  display: flex;
  flex-direction: column;
  gap: rclamp(8, 22, 375, 1023);
  margin-top: rclamp(20, 55, 375, 1023);
}

.p-drink__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.p-drink__item--name {
  font-size: rclamp(14, 38, 375, 1023);
  font-weight: 700;
}

.p-drink__item--price {
  font-size: rclamp(20, 55, 375, 1023);
  text-align: right;
  font-family: Damion;
}
