@use "../global" as *;

.p-main-menu__inner {
  display: flex;
}

.p-main-menu__left {
  @include mq(sp-middle) {
    display: none;
  }

  @include mq(tb-middle) {
    padding-block: rclamp(8, 15, 1024, 1920);
  }
}

.p-main-menu__logo {
  color: transparent;
}

.p-main-menu__lists {
  display: flex;
  flex-direction: column;
  gap: rclamp(17, 32, 1024, 1920);
}

.p-main-menu__link {
  display: flex;
  flex-direction: column;
}

.p-main-menu__en,
.p-main-menu__ja {
  color: $font-color;
  text-align: center;
}

.p-main-menu__en {
  font-size: rclamp(9, 16, 1024, 1920);
  font-weight: 400;
  letter-spacing: 1.92px;
  text-transform: uppercase;
}

.p-main-menu__ja {
  font-size: rclamp(5, 10, 1024, 1920);
  font-weight: 500;
}

.p-main-menu__right {
  position: relative;
}

.p-main__fv--textbox {
  position: absolute;
  top: rclamp(124, 338, 375, 1023);
  left: rclamp(20, 55, 375, 1023);
  z-index: 2;
}

.p-main__fv--text {
  font-size: rclamp(16, 44, 375, 1023);
  color: $white;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 2.24px;
  font-family: "Noto Serif", serif;
}
